
@media screen and ( max-width: 1417px )
  div.header
    &__logo
      margin-left: 5.62rem
    &__menu
      margin-right: 5.62rem

  div.hero
    &__text
      padding-left: 5.62rem    

  div.utp
    &__container
      box-sizing: border-box
      padding-left: 5.62rem
      padding-right: 5.62rem
     
    &__pretitle
      font-size: 1.36rem
  h3.utp__pretitle
    font-size: 1.3rem

  div.bonus
    &__container 
      box-sizing: border-box
      padding-right: 5.62rem
      padding-left: 5.62rem
  h3.points
    &__title--coll
      font-size: 1.3rem
      &::before
        background-size: 70%
        margin-right: 0px
    &__title--persent
      font-size: 1.3rem
      &::before
        background-size: 70%
        margin-right: 0px
    &__title--pass
      font-size: 1.3rem
      &::before
        background-size: 70%
        margin-right: 0px
  p.points__text
      margin-left: 3.8rem 

@media screen and ( max-width: 1380px ) 
  div.swiper-container-horizontal>.swiper-pagination.group-pag.swiper-pagination-bullets
    margin-bottom: 40px

@media screen and ( max-width: 1300px )
  section.how
    padding-bottom: 23px
  div.how__container
      padding-left: 5.62rem
      padding-right: 5.62rem
  div.sl
    height: 26.75rem
    &__right
      margin-left: 90px
  img.sl__img--tel
    width: 140%
  span.sl__pretitle 
    margin-top: 0
  h2.sl__title
    font-size: 2.2rem
    line-height: 43px 
  h2.gr__title
    font-size: 2.2rem
    line-height: 43px 
    margin-top: -30px 
  h2.enjoy__title
    font-size: 2.5rem
    line-height: 3.3rem
  section.group
    padding-bottom: 0   
  div.group
    &__container
      margin-left: 5.62rem
      margin-right: 5.62rem
      margin-bottom: 205px
      height: 30.75rem
     
  div.swiper-container-horizontal>.swiper-pagination-bullets
    left: 203px
    width: 60%
  div.swiper-container-horizontal>.swiper-pagination.group-pag.swiper-pagination-bullets
    left: -150px
    bottom: 123px
  div.gr__right
    margin-left: 78px
  div.gr
    height: 26.75rem 
  img.gr__img--tel
    width: 100% 
  div.gr__img
    top: -73px
    left: 490px
@media screen and ( max-width: 1260px )
  h1.hero__title
    font-size: 2.8rem
    line-height: 4rem
  span.hero--up
    font-size: 2.8rem
    line-height: 4rem
  section.bonus
    height: 26rem
  div.bonus__right
    width: 42%
  div.bonus__left
    width: 58%
  img.bonus__img
    max-width: 470px
    margin-top: -81px
  div.points
    padding-bottom: 2px
  img.sl__img--tel
    width: 140%
  div.sl
    &__right
      margin-left: 92px
  img.gr__img--tel
    width: 100% 
  div.gr__img
    top: -73px
    left: 450px
  div.foot__left
    padding-left: 180px
    width: 30%
  div.foot__right
    width: 70%
  img.leaf__img
    width: 93%
  img.leaf__yello__img
    width: 93%
  span.dev
    white-space: nowrap
  div.swiper-container-horizontal>.swiper-pagination-bullets
    left: 200px

@media screen and ( max-width: 1160px )
  h2.sl__title
    font-size: 1.9rem
    line-height: 43px 
  h2.gr__title
    font-size: 1.9rem
    line-height: 43px 
  div.hero__img
    height: 33.4rem
  div.hero__container
    height: 33.4rem
  div.gr__img
    left: 420px
    top: -73px
  img.sl__img--tel
    width: 140%
  div.swiper-container-horizontal>.swiper-pagination.group-pag.swiper-pagination-bullets
    left: -150px
  div.sl
    &__right
      margin-left: 82px
  div.points
    max-width: 23rem
  div.bonus__right
    margin-left: -48px
  h2.enjoy__title 
    font-size: 2rem
    line-height: 2.8rem
  img.enj
    width: 80%  
 
@media screen and ( max-width: 1126px )
  div.header
    &__logo
      margin-left: 3.62rem
    &__menu
      margin-right: 3.62rem

  div.hero
    &__text
      padding-left: 3.62rem    

  div.utp
    &__container
      box-sizing: border-box
      padding-left: 3.62rem
      padding-right: 3.62rem
  div.bonus
    &__container 
      box-sizing: border-box
      padding-right: 3.62rem
      padding-left: 3.62rem
  div.how__container
      padding-left: 3.62rem
      padding-right: 3.62rem
  div.group
    &__container
      margin-left: 3.62rem
      margin-right: 3.62rem
  div.gr__img
    top: -73px
    left: 400px
  div.sl__img
    top: -14px
  img.leaf__img
    width: 87%
  img.leaf__yello__img
    width: 987
  div.foot__left 
    padding-left: 140px
    width: 26%
  div.foot__right
    width: 74%
  div.swiper-container-horizontal>.swiper-pagination.group-pag.swiper-pagination-bullets
    left: -123px
@media screen and ( max-width: 1040px )
  div.gr__img
    top: -60px
    left: 390px

@media screen and ( max-width: 990px )
  div.how__container
    height: 60rem
    margin-bottom: 150px
  div.sl
    height: 56rem
    flex-wrap: wrap 
  div.sl__right
    margin-top: 298px
    margin-left: 0
    flex-basis: 81%
  div.sl__img
    top: -41px
    left: 16px
  img.sl__img--tel
    margin-left: -55px

  div.group__container
    height: 1090px
  div.gr
    height: 1080px
  div.gr__right
    margin-top: 555px
  div.gr__img
    left: 139px
  div.swiper-container-horizontal > .swiper-pagination.group-pag.swiper-pagination-bullets
    left: 121px
  
  div.bonus__container
    height: 32.94rem
  div.bonus__right
    display: none

@media screen and ( max-width: 917px )
  div.utp__container
    flex-wrap: wrap
    justify-content: center
  div.utp__item
    &:last-child
      margin-top: 80px
      padding-right: 120px
    &:nth-child(2)
      margin: 80px auto 0 auto
      padding-right: 120px
    &:first-child
      margin: auto
      padding-right: 120px
  div.foot__container
    flex-wrap: wrap
    padding-bottom: 70px
  div.foot__right
    width: 100%
    background-color: $main-color
  div.bonus__left
    width: 100%
@media screen and ( max-width: 800px )
  div.hero__img
    display: none
  div.hero__text
    width: 100%
  div.utp__item
    &:last-child
      padding-right: 20px
    &:nth-child(2)
      padding-right: 20px
    &:first-child
      padding-right: 20px
  img.utp__img
    width: 22%
  div.sl
    height: 45rem
    margin-bottom: 0
    padding-bottom: 30px
  div.swiper-container-horizontal > .swiper-pagination-bullets 
    bottom: 58px
  section.bonus
    margin-top: -50px
  img.gr__img--tel
    width: 75%
  div.gr__right 
    margin-top: 393px
  div.swiper-container-horizontal > .swiper-pagination.group-pag.swiper-pagination-bullets
    bottom: 267px
  div.group__container 
    height: 935px