
.group
  padding-bottom: 200px
  padding-top: 25px
  &__container
    position: relative
    margin: auto
    height: 540px
    max-width: 1140px
    background-color: #F4F5F6
    border-radius: 50px
    margin-top: 100px
  

.gr
  height: 33.75rem
  display: flex
  justify-content: center
  margin-top: 3.13rem
  margin-bottom: 3.13rem
  

  &__left
    flex-basis: 64%
    
  &__img
    position: absolute
    left: 533px
    top: -55px
  &__right
    flex-basis: 50%  
    margin-left: 140px
    margin-top: -65px
  &__pretitle
    display: inline-block
    margin-top: 76px
    color: $small-text-color
    font-size: 1.12rem
    font-weight: 400
  &__title
    display: inline-block
    margin-bottom: 9px
    line-height: 55px
    font-size: 2.5rem
    @include text-bold
  &__text
    @include small-text
    max-width: 25.3rem
    line-height: 24px

div.swiper-container-horizontal > .swiper-pagination.group-pag.swiper-pagination-bullets
  margin-bottom: 50px  

div.swiper-pagination.group-pag.swiper-pagination-bullets
  left: -361px
  margin-bottom: 50px