
.how
  padding-top: 100px
  padding-bottom: 120px
  &__container
    padding-left: 9.37rem
    padding-right: 9.37rem
    
    height: 640px
    max-width: 1140px
  
    
.sl
  height: 33.75rem
  display: flex
  justify-content: center
  margin-top: 3.13rem
  margin-bottom: 3.13rem
  background-color: #F4F5F6
  border-radius: 50px

  &__left
    flex-basis: 40%
    position: relative
  &__img
    position: absolute
    left: 0
    top: -55px
  &__right
    flex-basis: 60%  
    margin-left: 185px
  &__pretitle
    display: inline-block
    margin-top: 64px
    margin-bottom: 7px
    color: $small-text-color
    font-size: 1.12rem
    font-weight: 400
  &__title
    display: inline-block
    margin-bottom: 9px
    line-height: 55px
    font-size: 2.5rem
    @include text-bold
  &__text
    @include small-text
    max-width: 26.3rem
    line-height: 24px

.swiper-container-horizontal>.swiper-pagination-bullets
  bottom: 140px
  left: 62px
.swiper-pagination-bullet 
  width: 10px
  height: 10px
  border-radius: 50%
  background-color: darken(#E3E6E8, 20%)
.swiper-pagination-bullet-active
  width: 55px
  height: 10px
  border-radius: 10px
  background-color: $second-color
    
    