
.utp
 
  padding-top: 6.25rem
  padding-bottom: 5.25rem
  &__container
    display: flex
    justify-content: space-between
    padding-left: 10.62rem
    padding-right: 10.62rem
  &__item
    max-width: 325px
    margin-right: 52px
  &__imgcont
    margin-bottom: 30px
  &__pretitle
    font-size: 1.56rem
    @include text-middle
    line-height: 32px
  &__text
    @include small-text
