
.utp
  padding-top: 6.25rem
  padding-bottom: 0.25rem
  
  &__container
    display: flex
    justify-content: space-between
    max-width: 1440px
    padding-left: 10.62rem
    padding-right: 10.62rem
    box-sizing: border-box
  &__item
    max-width: 20.32rem
    margin-right: 52px
    &:last-child
      margin-right: 0
    &:first-child
      margin-left: 0
  &__imgcont
    margin-bottom: 30px
  &__pretitle
    font-size: 1.56rem
    @include text-middle
    line-height: 32px
  &__text
    @include small-text


